<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="w-full h-screen bg-zinc-800 p-10">
        <form action="/profile/uploadimage" method="POST" enctype="multipart/form-data">
            <input class="px-3 py-2 rounded-md bg-transparent border-2 cursor-pointer" type="file" name="image" accept="image/*">
            <button class="px-3 py-2 bg-blue-500 rounded-md cursor-pointer" type="submit">Upload</button>
        </form>
    </div>
</body>
</html>